@charset "UTF-8";

* {
    margin: 0 auto;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
tbody,
tfoot,
thead,
th,
td,
article,
figure,
em,
address {
    margin: 0;
    padding: 0;
    font-style: normal;

}

/* .roughmap_lebel_text{
    font-family: 'Spoqa Han Sans Neo', 'sans-serif' !important;
}
.gm-style .place-card .place-name{
    font-family: 'Spoqa Han Sans Neo', 'sans-serif' !important;
}
body {
    width: 100%;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
} */

/* 로고 */
.logo img {
    width: 100px;
}


.info_wrap img {
    width: 40px;

}

/* 헤더 */
header {
    background-image: linear-gradient(#00082966,
            #00082966), url(../images/mainImg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
    /* padding-bottom: 60px; */
    /* background-color: #74747436; */
}

.demo_click {
    margin-right: 0;
}

.logo {
    margin-left: 0;
}

.demo_click button {
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: #ffffff66;
    margin-right: 20px;
}

.demo_click button:first-child {
    color: #fff;
}

.demo_click button:last-child {
    color: #ffffff66;
    margin-right: 0;
}

.header_logo {
    width: 70%;
    padding-top: 20px;
    display: flex;
    align-items: center;
}

/* 헤더 반응형 */
/* 태블릿 */
@media (max-width:1480px) and (min-width:601px) {
    .logo {
        margin-left: 0;
    }

    .demo_click {
        margin-right: 0;
    }
}

/* 모바일 */
@media (max-width:600px) {
    .demo_click {
        margin-right: 0;
    }

    .logo {
        margin-left: 0;
    }

    .info_wrap img {
        width: 24px;
    }

}

/* 인트로 */
.intro_wrap {
    /* margin-top: 100px; */
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro_wrap>div {
    width: 100%;
}

.intro_wrap div p {
    color: #fff;
    font-size: 48px;
    text-align: center;
    position: relative;
    line-height: 65px;
}

.intro_wrap div p em {
    font-weight: bold;
}

.intro_wrap div p::after {
    content: "";
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translatex(-50%);

    width: 100px;
    height: 2px;
    background-color: #fff;
}

.intro_wrap div span {
    margin-top: 12px;
    display: block;
    color: #ffffff99;
    font-size: 20px;
    text-align: center;
}

.inter_btn {
    margin-top: 20px;
    display: flex;
}

.inter_btn button {
    background-color: #ffffff4D;
    border: 1px solid #c4c4c4;
    color: #ffffffE6;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 14px;
}

/* 인트로 반응형 */
/* 태블릿 */
@media (max-width:1480px) and (min-width:601px) {
    .intro_wrap div p {
        font-size: 40px;
        line-height: 50px;
    }

    .intro_wrap div span {
        font-size: 18px;
    }
}

/* 모바일 */
@media (max-width:600px) {
    .intro_wrap div p {
        font-size: 32px;
        line-height: 40px;
    }

    .intro_wrap div span {
        font-size: 16px;
    }

    .inter_btn button {
        padding: 10px 16px;
    }

}

/* 메인 1 텍스트 */
.main01_section {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
}

.main01_section div p {
    font-size: 32px;
    color: #4557ff;
    font-weight: bold;
    text-align: center;
    position: relative;

}

.main01_section div p::after {
    content: "";
    position: absolute;
    bottom: 4px;
    width: 100px;
    left: 50%;
    transform: translatex(-50%) rotate(-3deg);

    height: 13px;
    background-color: #DDE1FF;
    z-index: -1;
}

.main01_section div span {
    display: block;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 39px;
}

/* 메인 1 반응형 */
/* 태블릿 */
@media (max-width:1480px) and (min-width:601px) {
    .main01_section div p::after {
        content: "";

        width: 90px;

        height: 10px;

    }
}

/* 모바일 */
@media (max-width:600px) {
    .main01_section div p::after {
        content: "";

        width: 60px;

        height: 8px;

    }

    .main01_section div p {
        font-size: 20px;
    }

    .main01_section div span {
        font-size: 20px;
        line-height: normal;
    }

    .main01_section {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

/* 메인 2 아이콘 */
.main02_section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f3f3f3;
}

.main02_section>div>div {
    display: flex;
}

.main_lami_text {
    display: block !important;
}

.main_lami_text p {
    text-align: center;
    font-size: 24px;
    font-weight: bold;

}

.main_lami_text {
    margin-bottom: 20px;
    margin-top: 12px;
}

/* 메인 아이콘들 */
.main_lami_icon {

    display: flex;
    align-items: center;
    justify-content: center;
}

.main02_inner {
    width: 70%;
    margin-top: 60px;
}

.main02_inner .info_wrap:first-child {
    margin-left: 0;
}

.main02_inner .info_wrap:last-child {
    margin-right: 0;
}

.main02_content {
    width: 70%;
}

.main02_content .info_wrap:first-child {
    margin-left: 0;
}

.main02_content .info_wrap:last-child {
    margin-right: 0;
}

.main02_inner>div .info_wrap {
    width: 230px;
    text-align: center;
    box-sizing: border-box;
}

.main_lami_icon img {
    width: 30px;
    padding: 6px;
    border-radius: 8px;
}

.mainLamiIcom01 img {
    background-color: #E3E8FF;
}

.mainLamiIcom02 img {
    background-color: #F3F1BC;
}

.info_wrap {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 1px 1px 6px #a3a3a360;
}

.info_wrap p {
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.info_wrap span {
    color: #999999;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
}

.main02_content:nth-child(1) span {
    width: 200px;
}

.main02_content:nth-child(2) span {}

.main02_content:nth-child(3) span {}

.main02_content div:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
}

.info_wrap01 img {
    background-color: #3DD67133;
    border-radius: 12px;
    padding: 7px;
}

.info_wrap02 img {

    background-color: #39C0DE33;
    border-radius: 12px;
    padding: 7px;
}

.info_wrap03 img {
    background-color: #D6903D33;
    border-radius: 12px;
    padding: 7px;
}

.info_wrap04 img {
    background-color: #DE399C33;
    border-radius: 12px;
    padding: 7px;
}

/* 메인 2 아이콘 반응형 */
/* 태블릿 */
@media (max-width:1480px) and (min-width:601px) {

    .header_logo {
        width: 90%;
    }

    .main02_content {
        width: 90%;
    }

    .main02_inner {
        width: 90%;
    }

    body .main03_section {
        width: 90%;
        /* height: 620px; */
    }

    .main02_content .info_wrap {
        width: 24%;
    }

    .info_wrap p {
        font-size: 14px;
    }

    .info_wrap span {
        font-size: 14px;
    }

    .main_lami_text p {
        font-size: 20px;
    }

    .main02_inner>div .info_wrap {
        width: 20%;
    }
}

@media (max-width:890px) and (min-width:601px) {
    body .main03_section {
        /* height: 1040px ; */
    }

}


/* 모바일 */
@media (max-width:600px) {
    .main02_content .info_wrap {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .header_logo {
        width: 90%;
    }

    .main_lami_text {
        margin-top: 8px;
    }

    .main02_content {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .info_wrap {
        width: auto;

    }

    .info_wrap01,
    .info_wrap02 {
        margin-bottom: 16px;
    }

    .main02_inner {
        width: 90%;
        margin-top: 30px;
    }

    .main_lamiicon_wrap {
        display: grid !important;
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 16px;
    }

    .info_wrap p {
        font-size: 14px;
    }

    .main_lamiicon_wrap .info_wrap {
        padding: 10px !important;
        width: 100% !important;
    }

    .main_lamiicon_wrap .info_wrap p {}

    .info_wrap span {
        font-size: 14px;
    }

    .main_lami_text p {
        font-size: 20px;
    }

    .main02_section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

/* 메인 3 텝메뉴 */
.main03_section {
    margin-top: 60px;
    width: 70%;
    /* height: 680px; */
}


/* 탭메뉴 */
.tabmenu {
    margin-top: 20px;
    /* position: relative; */
}

.tabmenu ul {
    margin-top: 20px;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.tabmenu ul li {
    display: inline-block;
    text-align: center;
    width: 18%;
}



.tabmenu label {
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    display: block;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    color: #C4C4C4;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;

}

.tabmenu input {
    display: none;
}

.tabCon {
    display: none;
    width: 100%;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 60px;
    /* position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0; */
    box-sizing: border-box;
    /* border : 5px solid #f9f9f9; */
}

.tabConTitle {
    margin-bottom: 20px;
}

.tabCon_content {
    min-height: 120px;
    max-height: 150px;
}

.tabCon_content02 {
    min-height: 80px;
    max-height: 120px;
}

.tabCon_content p {
    white-space: normal !important;
}

.tabCon_content02 p {
    white-space: normal !important;
}

.tabCon_wrap {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-row-gap: 50px;
}

.tabCon_wrap div:first-child {
    margin-left: 0;
}

.tabCon_wrap div:nth-child(3) {
    margin-right: 0;
}

.tabCon_wrap div:nth-child(4) {
    margin-left: 0;
}

.tabCon_wrap div:nth-child(6) {
    margin-right: 0;
}

.tabCon_wrap>div {
    width: 90%;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 1px 1px 6px #a3a3a360;
    box-sizing: border-box;
}

.tab_btn {
    text-align: center;
    margin-top: 16px;
}

.tab_btn button {
    color: #4557FF;
    font-size: 14px;
    box-sizing: border-box;
    padding: 5px 7px;
    width: 100%;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    border-radius: 4px;
    font-weight: 700;
}

.tabCon div img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.tabCon div h2 {
    font-size: 18px;
}

.tabCon div.tabConTitle p {
    font-size: 20px;
    font-weight: 600;
}

.tabCon div p {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 16px;
    color: #999;
}

.tabmenu input:checked~label {
    background: #333;
    color: #fff;
    cursor: pointer;
}

/* .tabmenu input:checked~.tabCon {
    display: block;
} */


.main04_section {
    background-image: linear-gradient(#00082966,
            #00082966), url(../images/mainImg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 650px; */
    padding-bottom: 60px;
    display: flex;
}

.main04_section div {
    margin-top: 60px;
    text-align: center;
}

.main04_section div p {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
}

.main04_section div p em {
    font-weight: bold;
}

.main04_section div button {
    background-color: #ffffff4D;
    border: 1px solid #c4c4c4;
    color: #ffffffE6;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 14px;
    width: 200px;
    box-sizing: border-box;
}

.main04_section .demo_infoimg {
    margin-top: 40px;
    width: 645px;
    height: 355px;
    box-sizing: border-box;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    background-image: url(../images/demo1_02.jpg);
    background-repeat: no-repeat;

    background-size: cover;
}

.demo_infoimg img {
    width: 300px;
    border-radius: 10px;
}

/* 메인 3 텝메뉴 반응형 */
/* 태블릿 */
@media (max-width:1480px) {
    .tabCon_content02 {
        height: 80px;
    }

    .tabCon div h2 {
        font-size: 16px;
    }

    .tabCon div p {
        font-size: 12px;
    }

    .tab_btn button {
        font-size: 12px;
    }

    .tabmenu label {
        font-size: 12px;
    }

    .main03_section h2 {
        font-size: 18px;
    }

    .tabCon_wrap>div {
        width: 95%;
    }

    .tabCon_content {
        height: 95px;
    }

    .tabCon_wrap {
        display: grid;
        grid-row-gap: 20px;
    }

}

@media (max-width:890px) {
    .tabCon_wrap {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-row-gap: 20px;
    }

    .tabCon_wrap div:first-child {
        margin-left: 0;
    }

    .tabCon_wrap div:nth-child(3) {
        margin-right: inherit;
        margin-left: 0
    }

    .tabCon_wrap div:nth-child(4) {
        margin-left: inherit;
    }

    .tabCon_wrap div:nth-child(5) {
        margin-left: 0;
    }

    .tabCon_wrap div:nth-child(6) {
        margin-right: 0;
    }

}

/* 모바일 */
@media (max-width:600px) {
    .main03_section {
        width: 90%;
        margin-top: 40px;
        /* padding: 15px; */
        box-sizing: border-box;
        /* height: 600px; */
    }

    .tabmenu ul li {
        margin-right: 5px;
    }

    .tabmenu ul {
        margin-top: 20px;
        overflow: auto;
        white-space: nowrap;
        position: relative;
        /* height: 700px; */
    }

    .tabmenu label {
        font-size: 10px;
    }

    .tabCon_wrap>div {
        width: 270px;
        padding: 5px;
    }

    .tabCon_wrap {
        padding: 2px;
    }

    .tabCon {
        margin-bottom: 40px;
        overflow: auto;
        white-space: nowrap;
    }

    .tabCon::-webkit-scrollbar {
        display: none;
    }

    .tabCon_wrap {
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-row-gap: 5px;
        grid-column-gap: 20px;
    }

    .main04_section .demo_infoimg {
        width: 330px;
        height: 180px;
    }

    .tabCon div h2 {
        font-size: 16px;
    }

    .tabCon div p {
        font-size: 12px;
    }

    .tab_btn button {
        font-size: 12px;
    }

    .main_03title h2 {
        font-size: 18px;
    }

    .tabmenu ul {
        /* height: 480px; */
    }
}

.main_03title {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 80%;
}

.main_03title button {
    border-radius: 10px;
    background: #0D225A;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;

}

.main_03title h2 {
    color: #0D225A;
    font-size: 40px;
    text-align: center;
}

/* 푸터 */
.googleMap {
    width: 20%;
    /* width: 100%;
    margin-right: 0; */
}

.googleMap iframe {
    width: 100%;
    height: 100%;
}

footer {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    background-color: #302E40;
}

footer svg {
    width: 100px;
}

footer div p,
footer div span {
    color: #fff;
}

footer img {
    width: 100px;
}

.wrap_controllers {
    display: none;
}

.footer_icon {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.footer_icon img {
    width: 14px;
    margin-left: 0;
    margin-right: 10px;
}

.footer_icon .fa-youtube {
    width: 14px;
    margin-left: 0;
    margin-right: 10px;
    color: #AFADBD;
}

.footer_icon p {
    font-size: 14px;
    color: #AFADBD;
}

.footer_icon a {
    margin-left: 0;
    font-size: 14px;
    color: #AFADBD;
}

.footer_info_Wrap {
    margin-top: 20px;
}

.footer {
    margin-bottom: 10px;
}

.footer_info {
    display: flex;
    margin-bottom: 4px;

}

.footer_info p {
    font-size: 14px;
    margin-left: 0;
    margin-right: 10px;
    width: 30%;
    color: #69677D;
}

.footer_info span {
    display: inline-block;
    width: 70%;
    font-size: 14px;
    text-align: left;
    color: #69677D;
}

.footer_wrap {
    width: 25%;
}

/* 푸터 반응형 */
/* 태블릿 */
@media (max-width:1480px) and (min-width:601px) {
    .googleMap {
        width: 40%;
    }

    .footer_wrap {
        width: 25%;
    }
}

/* 모바일 */
@media (max-width:600px) {
    .footer_wrap {
        width: auto;
        margin-left: 40px;
    }

    header {
        /* height: 410px; */
        /* padding-bottom: 40px; */
    }

    .intro_wrap>div {
        width: 100%;
    }

    .intro_wrap {
        width: 100%;
    }

    footer {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
    }

    footer svg {
        width: 90px;
    }

    .main04_section {
        /* height: 440px; */
        padding-bottom: 40px;
    }

    .main04_section div {
        margin-top: 40px;
    }

    .main04_section div p em {
        display: block;
    }

    .googleMap {
        width: 80%;
        height: 260px;
        margin-top: 20px;
        margin-left: 40px;
    }

    .footer_info span {
        font-size: 12px;
    }

    .footer_info p {
        font-size: 12px;
    }

}



/* 솔루션 카드 팝업 */
.infopopup {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
}

.infopopup_inner {
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 12px;
    width: auto;

    box-sizing: border-box;


}

.infopopup_title {
    display: flex;
    align-items: center;
    /* padding: 10px; */
    padding-bottom: 10px;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 10px;
}

.infopopup_inner div p {
    color: #999;
    font-weight: 700;

}

.infopopup_inner div svg {
    width: 20px;
    fill: #999;
    margin-right: 0;
    cursor: pointer;
    padding: 5px;
    /* box-sizing: border-box; */
}

.infopopup_content {
    /* background-color: rgb(240, 240, 240); */
    margin-bottom: 20px;
    margin-top: 20px;
    /* padding: 10px; */
}

.infopopup_content div img {
    width: 80%;
    height: 100%;
    border-radius: 10px;
}

.infopopup_text {
    max-height: 200px;
    overflow-y: auto;
}

.infopopup_text::-webkit-scrollbar {
    width: 3px;
    background-color: rgb(158, 158, 158);
}

.infopopup_text::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
}

.infopopup_text p {
    margin-top: 10px;
    font-weight: bold;
    color: rgb(102, 102, 102) !important;
    margin-bottom: 10px;

}

.infopopup_img {
    text-align: center;
}

.infopopup_text span {
    display: block;
    margin-left: 0;
    color: #999;
    margin-bottom: 10px;
}

.infopopup_text em {
    display: block;
    margin-left: 20px;
    color: #999;
    margin-bottom: 10px;
}

/* 구글지도 */
.gm-style .place-card .place-name {
    font-size: 12px !important;
}

.gm-style .place-card div {
    font-size: 10px !important;
}

.gm-style .place-card .navigate-text {
    font-size: 10px !important;
}

/* 푸터 반응형 */
/* 태블릿 */
@media (max-width:1480px) and (min-width:601px) {
    .infopopup_inner div p {
        font-size: 14px;
    }

    .infopopup_text span {
        font-size: 14px;
    }

    .infopopup_text em {
        font-size: 14px;
    }
}

/* 모바일 */
@media (max-width:600px) {
    .infopopup_inner {
        width: 90%;
    }

    .infopopup_inner div p {
        font-size: 14px;
    }

    .infopopup_text p {
        font-size: 12px;
    }

    .infopopup_text span {
        font-size: 12px;
    }

    .infopopup_text em {
        font-size: 12px;
    }

    /* 박람회 */
    .Ksafetypopupimg {
        width: 90%;
    }

    div.Ksafetypopupimg button {
        font-size: 10px;
    }

    .Ksafetypopuptitle p {
        font-size: 12px;
        width: 90%;
    }

    div.Ksafetypopupimg {
        /* top: 5%;
        transform: translateY(0); */
        width: 80%;
    }

    div.Ksafetypopupimg02 {
        /* bottom: 10%;
        top: auto;
        transform: translateY(0); */
        width: 80%;
    }

    article.Ksafetypopup div img,
    div.Ksafetypopuptitle,
    div.Ksafetypopupclose {
        width: 100%;
    }
}


/* 박람회 팝업 */
.Ksafetypopup {
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 100%;
    background-color: #3333339c;
    top: 0;
    left: 0;
    display: none !important;
}

.Ksafetypopupimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 30%;
    display: block;
}

.Ksafetypopupimg02 {
    display: block;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    width: 30%;
}

.Ksafetypopupimg>div,
.Ksafetypopupimg02>div {
    display: flex;
    flex-direction: column;
}

.Ksafetypopuptitle {
    display: flex;
    width: 60%;
    justify-content: center;
    background-color: #fff;
    padding: 10px 0;
}

.Ksafetypopuptitle p {
    font-weight: bold;
}

.Ksafetypopup div img {
    width: 60%;
    cursor: pointer;
}

.Ksafetypopupclose {
    display: flex;
    align-items: center;
    width: 60%;
    background-color: #ffffff;
    padding: 10px 0;
}

.Ksafetypopupclose button {
    font-size: 16px;
    width: 50%;
    border: none;
    color: #333;
    font-weight: bold;
    background-color: transparent;
    box-sizing: border-box;
}

button.Ksafetypopupclosebtn {
    border-right: 1px solid #333;
}